:root {
  /* Colors */
  --primary: hsl(360, 66%, 47%);
  --primaryLight: hsl(357, 100%, 70%);
  --primaryDark: hsl(0, 69%, 15%);

  --secondary: hsl(34, 100%, 50%);
  --secondaryLight: hsl(34, 100%, 72%);
  --secondaryDark: hsl(34, 100%, 15%);

  --neutralDarker: hsl(271, 100%, 10%);
  --neutralDark: hsl(271, 100%, 25%);
  --neutral: hsl(271, 100%, 40%);
  --neutralLight: hsl(271, 100%, 50%);
  --neutralLighter: hsl(271, 100%, 70%);
  --neutralLightest: hsl(271, 100%, 90%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(0, 0%, 50%);
  --grayLight: hsl(0, 0%, 70%);
  --grayLighter: hsl(0, 0%, 80%);
  --grayLightest: hsl(0, 0%, 90%);
  --grayDark: hsl(0, 0%, 25%);
  --grayDarker: hsl(0, 0%, 10%);
  --grayDarkest: hsl(0, 0%, 5%);

  --shadow-color: hsla(var(--grayDarkest), 0.15);

  --glass-card-bg-color: hsla(271, 100%, 70%, 0.07);
  --glass-card-bg-color-2: hsla(271, 100%, 70%, 0.15);
  --glass-card-border-color: hsla(271, 100%, 90%, 0.5);

  /* Typography */
  --font-family-default: "Poppins", sans-serif;
  --font-family-secondary: "Montserrat", sans-serif;
  --font-scale: 1.15;
  --base-font-size: 0.8rem;
  --h6-font-size: var(--base-font-size);
  --h5-font-size: calc(var(--h6-font-size) * var(--font-scale));
  --h4-font-size: calc(var(--h5-font-size) * var(--font-scale));
  --h3-font-size: calc(var(--h4-font-size) * var(--font-scale));
  --h2-font-size: calc(var(--h3-font-size) * var(--font-scale));
  --h1-font-size: calc(
    var(--h2-font-size) * var(--font-scale) * var(--font-scale)
  );

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;

  /* Spacing */
  --card-padding-sm: 1.5em 2em;
  --card-padding-md: 2em 4em;
  --card-padding-lg: 3em 6em;

  --btn-padding-sm: 0.5em 1em;
  --btn-padding-md: 1em 2em;
  --btn-padding-lg: 1.5em 3em;

  /* box shadows */
  --box-shadow-sm: 0 0.5em 1em --var(--shadow-color);
  --box-shadow-md: 0 1em 2em --var(--shadow-color);
  --box-shadow-lg: 0 2em 4em --var(--shadow-color);

  /* drop shadows */
  --drop-shadow-sm: 0 0.5em 1em --var(--shadow-color);
  --drop-shadow-md: 0 1em 2em --var(--shadow-color);
  --drop-shadow-lg: 0 2em 4em --var(--shadow-color);

  /* Border Radius */
  --border-radius-sm: 0.5rem;
  --border-radius-md: 2rem;
  --border-radius-lg: 5rem;
  --border-radius-pill: 50rem;
  --border-radius-circle: 50%;

  /* Transition */
  --transition-short: 0.3s ease-in-out;
  --transition-long: 1s ease-in-out;
  --cubic-out: cubic-bezier(0, 1, 0.5, 1);
}

/* utility classes */
.max-line-ch{
  max-width: 35ch;
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

/* Typography */

/* font size */
h1 {
  font-family: var(--font-family-secondary);
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-semiBold);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-semiBold);
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-medium);
}

h5 {
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-medium);
}

h6 {
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-regular);
}

/* font family */

.font-family-default {
  font-family: var(--font-family-default);
}

.font-family-secondary {
  font-family: var(--font-family-secondary);
}

/* font weight */

.font-weight-regular {
  font-weight: var(--font-weight-regular);
}

.font-weight-medium {
  font-weight: var(--font-weight-medium);
}

.font-weight-semiBold {
  font-weight: var(--font-weight-semiBold);
}

.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

/* global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

.scroll-snap {
  scroll-snap-align: start;
}

body {
  font-family: var(--font-family-default);
  font-size: var(--base-font-size);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  color: var(--white);
  background-color: var(--neutralDarker);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:is(:hover, :focus-visible, :focus, :focus-within, :link) {
  text-decoration: none;
  color: var(--primaryLight);
}

a:is(:active, :visited) {
  text-decoration: none;
  color: var(--secondary);
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
}

ion-icon {
  color: inherit;
  padding: 0em;
  font-size: inherit;
}

p {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
}

button:is(:hover, :focus-visible, :focus) {
  outline: none;
  background: none;
  border: none;
}

/* container */
.container {
  width: 96%;
  max-width: 540px;
  margin: 0 auto;
}

.section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

.section-subtitle {
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-medium);
  color: var(--grayLight);
}

/* card */
.card {
  background-color: var(--white);
  border-radius: var(--border-radius-md);
  padding: var(--card-padding-sm);
  box-shadow: var(--box-shadow-lg);
}

.card:is(:hover, :focus-visible, :focus) {
  box-shadow: var(--box-shadow-lg);
}

.card-title {
  margin-bottom: 0.5em;
}

.card-text {
  font-size: var(--h5-font-size);
  color: var(--grayLighter);
}

.card.glass-card {
  background: var(--glass-card-bg-color);
  -webkit-backdrop-filter: blur(10px); /* Safari */
  -moz-backdrop-filter: blur(10px); /* Firefox */
  backdrop-filter: blur(10px); /* Chrome, Safari, Firefox */
  border-radius: var(--border-radius-md);
  border: 1px solid var(--glass-card-border-color);
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

/* buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: .5em 1em;
  border-radius: var(--border-radius-pill);
  font-size: inherit;
  font-weight: inherit;
  text-transform: capitalize;
  transition: all var(--transition-short);
  cursor: pointer;
  outline: none;
  border: none;
}

.btn:is(:hover, :focus-visible, :focus) {
  background-color: var(--primary);
  color: var(--white);
}

.btn.btn-gradient {
  position: relative;
  color: var(--white);
  font-weight: var(--font-weight-semiBold);
  background: transparent;
}

.btn.btn-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-pill);
  background: linear-gradient(to right, var(--primaryLight), var(--secondaryLight));
  transition: all var(--transition-long);
  z-index: -1;
}

.btn.btn-gradient:is(:hover, :focus-visible, :focus)::before {
  width: 0%;
  opacity: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn.btn-gradient:is(:hover, :focus-visible, :focus) {
  border: 1px solid var(--white);
}



.btn.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn.btn-primary:is(:hover, :focus-visible, :focus) {
  background-color: var(--primaryLight);
}

.btn.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.btn.btn-secondary:is(:hover, :focus-visible, :focus) {
  opacity: 0.8;
}

.btn.btn-tertiary {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}

.btn.btn-tertiary:is(:hover, :focus-visible, :focus) {
  background-color: var(--black);
  color: var(--white);
}

/* form */
.form-input {
  font: inherit;
  display: block;
  padding: 1em 2em;
  border-radius: var(--border-radius-pill);
  border: none;
  background-color: var(--glass-card-bg-color);
  transition: all var(--transition-short);
  outline: none;
}

.form-group {
  overflow: hidden;
  display: flex;
  gap: 2em;
  flex-flow: column;
  align-items: start;
  justify-content: space-between;
}

.form-group .form-input {
  width: 100%;
}

.form-group .btn{
  padding: var(--btn-padding-md);
}

.form-input:is(:hover, :focus-visible, :focus) {
  background-color: var(--white);
}

.form-input:is(:focus-visible, :focus) {
  box-shadow: var(--box-shadow-md);
}

.form-input::placeholder {
  font: inherit;
  color: var(--gray);
}

.form-label {
  display: block;
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-medium);
  color: var(--white);
  margin-bottom: 0.5rem;
}

/* blob */
.blob-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  padding: 3rem;
  overflow: hidden;
}

.blob-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  transform: translate(10%, 10%);
}

.blob-content {
  z-index: 0;
}

.blob {
  z-index: -1;
}

.blob svg {
  width: 100%;
  height: 100%;
}

.blob.blob-effect {
  z-index: -2;
  filter: blur(1em);
}

.blob-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  padding: 3rem;
}

/* general styles */

/* header section */
header{
  padding: 0em 0 2em 0;
}
header > .container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

header .brand-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40%;
}

header .navbar {
  position: absolute;
  top: calc(100% + 1em);
  right: 1em;
  width: fit-content;
  display: block;
  padding: 1em;
  border-radius: var(--border-radius-md);
  z-index: 999;
  transition: all var(--transition-long);
  animation: slideOut 1s ease-in-out both 1;
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: translateX(150%);
    opacity: 0;
    visibility: hidden;
  }
}

header .navbar.active.card.glass-card {
  background: var(--glass-card-bg-color-2);
  -webkit-backdrop-filter: blur(20px); /* Safari */
  -moz-backdrop-filter: blur(20px); /* Firefox */
  backdrop-filter: blur(20px); /* Chrome, Safari, Firefox */
  padding: 2em 1em;
}

header .navbar.active {
  position: absolute;
  top: calc(100% + 1em);
  right: 1em;
  width: fit-content;
  display: block;
  padding: 1em;
  border-radius: var(--border-radius-md);
  z-index: 999;
  animation: slideIn 1s ease-in-out both 1;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.nav-menu .nav-item > a {
  font-weight: var(--font-weight-medium);
  display: block;
  padding: 0.8em 0.5em;
  transition: all var(--transition-long);
  color: var(--white);
  position: relative;
}

.nav-menu .nav-item > a:is(:hover, :focus-visible, :focus) {
  color: var(--primary);
}

.nav-menu .nav-item > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.2em;
  border-radius: var(--border-radius-pill);
  background: linear-gradient(to right, var(--primary), var(--secondary));
  transition: all var(--transition-long);
}

.nav-menu .nav-item > a:is(:hover, :focus-visible, :focus)::before {
  width: 100%;
}

header :is(.nav-cta-btn) {
  display: none;
}

header .nav-collapse-btn {
  display: block;
  flex: 0 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .nav-collapse-btn ion-icon {
  font-size: 3em;
}

header .navbar ~ .nav-collapse-btn ion-icon[class*="expand-icon"] {
  display: block;
}

header .navbar ~ .nav-collapse-btn ion-icon[class*="close-icon"] {
  display: none;
}

header .navbar.active ~ .nav-collapse-btn ion-icon[class*="expand-icon"] {
  display: none;
}

header .navbar.active ~ .nav-collapse-btn ion-icon[class*="close-icon"] {
  display: block;
}

/* hero section */
.hero-section .section-subtitle{
  padding-bottom: 2em;
}
.hero-banner-wrapper .social-icon {
  height: 15%;
  width: 15%;
  position: absolute;
  top: 1em;
  right: 1em;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.hero-banner-wrapper .social-icon:nth-child(2) {
  top: 15%;
  right: 10%;
  animation-name: social-icon-animation-01;
}

@keyframes social-icon-animation-01 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate3d(1em, 2em, 5em);
  }
}

.hero-banner-wrapper .social-icon:nth-child(3) {
  top: 60%;
  left: 10%;
  animation-name: social-icon-animation-02;
}

@keyframes social-icon-animation-02 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate3d(-1em, -2em, -5em);
  }
}

.hero-banner-wrapper .social-icon:nth-child(4) {
  top: 10%;
  left: 10%;
  animation-name: social-icon-animation-03;
  animation-direction: alternate-reverse;
}

@keyframes social-icon-animation-03 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate3d(-1em, 2em, 5em);
  }
}

/* Process section styles */
.process-section .container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 2em;
}

.process-section .section-content-cards {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}

.process-section .section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.process-section .section-card .card-icon {
  width: 25%;
  height: 25%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process-section .section-card .card-content {
  text-align: center;
}

/* portfolio section */
.portfolio-section .container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 2em;
  padding: 3rem 0;
}

.portfolio-section .section-content-cards {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}

.portfolio-section .section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.portfolio-section .section-card .card-img {
  border-radius: calc(var(--border-radius-md) * 0.7);
  width: 100%;
  aspect-ratio: 14/15;
  overflow: hidden;
}

.portfolio-section .section-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all var(--transition-short);
}

/* footer styles */
.footer-section {
  margin-bottom: 0;
  padding: 3em 0;
  background: linear-gradient(
    to top,
    var(--neutralDark),
    70%,
    var(--neutralDarker)
  );
  backdrop-filter: blur(20px);
}

.footer-section .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3em;
}

.footer-section .footer-brand-area {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 2em;
}

.footer-brand-area .brand-logo {
  width: 30%;
}

.footer-brand-area .social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
}

.footer-brand-area ion-icon {
  font-size: 1.5rem;
  color: var(--secondary);
  transition: all var(--transition-short);
}

.footer-brand-area ion-icon:is(:hover, :focus-visible, :focus) {
  color: var(--primary);
  transform: scale(1.2);
}

.footer-brand-area .contact-info-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1em;
  margin-bottom: 1em;
}

.footer-brand-area .form-group{
  gap: .5em;
}

.footer-links {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1em;
}

.footer-links a {
  font-weight: var(--font-weight-medium);
  color: var(--grayLightest);
  transition: all var(--transition-short);
}

.footer-links a:is(:hover, :focus-visible, :focus) {
  color: var(--primary);
}

.footer-bottom {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  border-top: 1px solid var(--grayLightest);
  padding-top: 2em;
  margin-top: 2em;
}

.footer-bottom a[class="dev-link"] {
  position: relative;
}

.footer-bottom a[class="dev-link"]::before {
  content: "";
  position: absolute;
  bottom: -0.51em;
  left: 0;
  width: 0%;
  height: 0.1em;
  border-radius: var(--border-radius-pill);
  background: linear-gradient(to right, var(--primary), var(--secondary));
  transition: all var(--transition-long);
}

.footer-bottom a[class="dev-link"]:is(:hover, :focus-visible, :focus)::before {
  width: 100%;
}

.terms-and-conditions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.terms-and-conditions a {
  font-weight: var(--font-weight-medium);
  color: var(--grayLightest);
  transition: all var(--transition-short);
}

.terms-and-conditions a:is(:hover, :focus-visible, :focus) {
  color: var(--primary);
}

/* media queries */

/* small devices */
@media screen and (min-width: 575px) {
  .container {
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
  }

  .card{
    padding: var(--card-padding-lg);
  }

  header :is(.nav-cta-btn) {
    display: block;
  }

  @supports (display: grid) {
    .process-section .section-content-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    .portfolio-section .section-content-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: stretch;
      grid-gap: 2rem;
    }

    .portfolio-section .section-card{
      padding: var(--card-padding-sm);
    }

    .footer-links {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
      width: 100%;
    }

    .footer-section .container {
      align-items: start;
    }
  }
}

/* medium devices */
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
  }

  header .container{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  header .brand-logo {
    flex: 0 0 15%;
  }

  header .nav-cta-btn{
    display: none;
  }

  header .navbar {
    flex: 1 1 80%;
    position: unset;
    animation: none;
  }

  header .navbar .nav-menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    gap: .5em;
  }

  header .navbar ~ .nav-collapse-btn{
    display: none;
  }

  @supports (display: grid) {
    .portfolio-section .section-content-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: stretch;
      grid-gap: 2rem;
    }
  }
}

/* large devices */
@media screen and (min-width: 1200px) {
  :root {
    --font-scale: 1.17;
    --base-font-size: 1.2rem;
  }
  .container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .card{
    padding: var(--card-padding-sm);
  }

  header .nav-cta-btn{
    flex: 0 0 20%;
    display: block;
  }

  @supports (display: grid) {
    .hero-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
    }
    
  }
}

/* extra large devices */
@media screen and (min-width: 1400px) {
  :root {
    --font-scale: 1.2;
    --base-font-size: 1.3rem;
  }
  .container {
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
  }

  .section:not(:first-child){
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .max-line-ch{
    max-width: 55ch;
  }

  .card-text {
    font-size: var(--h6-font-size);
    color: var(--grayLighter);
  }

  .card-title {
    font-size: var(--h4-font-size);
    font-weight: var(--font-weight-medium);
  }

  .process-section .container{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .process-section .card {
    padding: 0;
  }

  .process-section .section-header {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .process-section .section-banner {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .process-section .section-content-cards {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
}
